* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* cd */
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.75s ease-out;
}
.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.Shoe {
  min-height: 25vh;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Shoe img {
  width: 15rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to bottom,
    rgba(8, 83, 156, 0.75),
    rgba(122, 175, 228, 0.75),
    rgba(235, 156, 103, 0.75),
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 1.3rem;
  transition: all 0.75s ease-out;
  padding: 2rem 0rem;
  color: #585855;
  font-weight: bold;

  transition: all 0.5s ease-in-out;
  transition: all 0.75s ease-out;
  /* transform: translateZ(100px); */
}
.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: #585858;
  color: white;
}
button.hover {
  background: #585858;
  color: white;
}
.purchase {
  margin-top: 1.5rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
.chnager {
  /* justify-content: center;
  display: flex; */
  margin-top: 15px;
  position: fixed;
  bottom: 10px;
  margin-right: 40px;
  /* flex-direction: column; */
}
.chnager > button {
  /* position: absolute; */
  background-color: rgba(120, 125, 129, 0.171);
  border: none;
  font-weight: lighter;
  transition: all 0.05s ease-in-out;
  font-size: 0.92rem;
  padding: 0.8rem;
  border-radius: 30px;
}
.chnager > button:hover {
  background-color: rgb(241, 75, 24);
  color: white;

  border: none;
  padding: 0.8rem;
  border-radius: 50px;
  transition: all 0.05s ease-in-out;
  outline: none;
}
